<div class="loader" *ngIf="service.loader">
  <mat-spinner></mat-spinner>
</div>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="back icon"
    [ngClass]="service.mobVr?'d-block d-lg-none':'d-none'">
    <mat-icon (click)="service.mobVr = false">arrow_back</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="menu icon"
    [ngClass]="service.mobVr?'d-none d-lg-block':'d-block'">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button (click)="service.mobVr = false">Weather Forcast</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="col" [ngClass]="service.loader ? 'blur':''">
  <app-citylist></app-citylist>
  <router-outlet></router-outlet>
</div>