/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.no-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.mat-typography h5 {
    font-size: 1.25rem;
    font-weight: 500
}
.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background: #00000026;
}
